<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="main-container" data-is-authenticated="{{ app.user ? 'true' : 'false' }}"
     data-login-view="{{ path('app_login_view') }}">
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link jq-home" href="{{ path('post_index') }}">{{ 'layout.nav.home'|trans() }}
                                <span
                                        class="sr-only">(current)</span></a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ path('app_logout') }}">{{ 'layout.nav.logout'|trans() }}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            {% set route = app.request.attributes.get('_route') %}
                            {% set route_params = app.request.attributes.get('_route_params') %}
                            {% set params = route_params|merge(app.request.query.all) %}
                            {% set applocales = locales|split('|') %}

                            {% for locale in applocales|filter(locale => locale != app.request.locale) %}
                                <a class="nav-link btn btn-light"
                                   href="{{ path(route, params|merge({_locale: locale})) }}">
                                    {{ locale|upper }}
                                </a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock navbar %}


    <div class="container mt-5">
        {% if  not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="login-form-container"></div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
