{% extends 'base.html.twig' %}

{% block title %}{{ 'post.main'|trans() }}{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(form, {'attr': {'id': 'post-form'}, 'action': path('post_new')}) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    {% endif %}

    {% if posts is not empty and posts is iterable %}
        <div class="mt-5">
            {% for post in posts %}
                {% include 'post/_post.html.twig' %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="toast jq-toast-post-success" style="position: absolute; top: 60px; right: 100px;" data-delay="5000">
        <div class="toast-header">
            <span class="badge badge-pill badge-success mr-auto">{{ 'success'|trans() }}</span>

            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="toast-body">
            {{ 'post.toast.creation_success'|trans() }}
        </div>
    </div>
{% endblock %}
